[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.6.5"
astroid = "==2.9.3"
click = "==7.1.2"
greenlet = "==1.1.0"
gunicorn = "==20.1.0"
isort = "==5.10.1"
itsdangerous = "==2.0.1"
lazy-object-proxy = "==1.7.1"
mccabe = "==0.6.1"
platformdirs = "==2.5.0"
pycodestyle = "==2.8.0"
pylint = "==2.12.2"
python-dateutil = "==2.8.1"
python-dotenv = "==0.14.0"
python-editor = "==1.0.4"
rope = "==0.22.0"
six = "==1.15.0"
toml = "==0.10.2"
typing-extensions = "==4.1.1"
wrapt = "==1.13.3"
Faker = "==12.3.3"
Flask-Cors = "==3.0.8"
Flask-Login = "==0.5.0"
Flask-Migrate = "==3.0.1"
Flask-SQLAlchemy = "==2.5.1"
Flask-WTF = "==0.15.1"
Flask = "==2.0.1"
Jinja2 = "==3.0.1"
Mako = "==1.1.4"
MarkupSafe = "==2.0.1"
SQLAlchemy = "==1.4.19"
Werkzeug = "==2.0.1"
WTForms = "==2.3.3"
boto3 = "*"

[dev-packages]
psycopg2-binary = "==2.9.3"

[requires]
python_version = "3.9"
