.friends--container,
.friends-container--profile {
	width: 100%;
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.friends-page--wrapper {
	width: 100%;
	min-height: 100vh;
	padding: 10px 0px 50px;
	background-color: var(--splash-bg);
}
.friends--container > h2,
.friends-container--profile > h2 {
	color: var(--primary-text);
}

.friends--cards {
	width: 80%;
	max-width: 1000px;
	padding: 20px;
	display: flex;
	background-color: var(--main-white);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	margin-top: 15px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.single-friend--card {
	width: 420px;
	height: 120px;
	padding: 10px;
	display: flex;
	align-items: center;
	/* justify-content: space-around; */
	border-radius: 7px;
	background-color: var(--comment-bg);
	border: 1px solid var(--splash-bg);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	margin: 10px;
	text-decoration: none;
}
.image-placeholder--square {
	width: 90px;
	height: 90px;
	/* background-color: #000; */
	background-image: url("../assets/images/default_pfp.png");
	background-position: center;
	background-size: contain;
	border-radius: 7px;
	margin-right: 15px;
}
.single-friend--card > .friend-details > a {
	color: var(--primary-text);
	font-size: 18px;
	text-decoration: none;
}
.single-friend--card > .friend-details > a:hover {
	text-decoration: underline;
}
