:root {
	--base-font: "helvetica neue", sans-serif;
	--main-color: #0f0f0f;
}

* {
	font-family: var(--base-font);
	box-sizing: border-box;
	margin: 0;
}

/* @media (prefers-color-scheme: light) {
	:root {
		--main-color: #ffffff;
	}
	body {
		background-color: var(--main-color);
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--main-color: #0f0f0f;
	}
	body {
		background-color: var(--main-color);
	}
} */
