:root {
	--base-font: "helvetica neue", sans-serif;
	--brand-font: "Mukta", sans-serif;
	--side-panel: #1d3461;
	--side-panel-font-color: #ebebd3;
	--main-container: #ebebd3;
	--transparent-hover: #3c3c3b16;
	--red-salsa: #fb3640;
	--dark-green: #1c6200;
	--dark-blue: #1d3461;
	--light-blue: #1f487e;
	--saffron-yellow: #eac435;
	--nav-yellow: 234, 196, 53;
	--jet-grey: hsl(60, 1%, 23%);
}

* {
	font-family: var(--base-font);
	box-sizing: border-box;
	margin: 0;
}
