:root {
	--base-font: system-ui, sans-serif;
	--main-white: #fff;
	--main-black: #000;
	--main-blue: #1877f2;
	--main-blue-hover: rgb(30, 111, 230);
	--main-green: #00a400;
	--signup-green: #42b72a;
	--signup-green-hover: #36a420;
	--main-green-hover: rgb(87, 162, 57);
	--splash-bg: #f0f2f5;
	--comment-bg: #f0f2f5;
	--main-page-bg: #f0f2f5;
	--splash-text: #1c1e21;
	--footer-text: #737373;
	--modal-bg: #ffffffcc;
	--primary-text: #050505;
	--secondary-text: #65676b;
	--light-border: #00000033;
	--secondary-btn-bg: #e4e6eb;
	--secondary-btn-hover: #d8dade;
	--like-comment-hover: #f2f2f2;
	--main-page-bg: #f0f2f5;
	--error-red: #ff0000;
}

* {
	font-family: var(--base-font);
	box-sizing: border-box;
	margin: 0;
}
html,
body {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

body {
	background-color: var(--splash-bg);
}
/* @media (prefers-color-scheme: light) {
	:root {
		--main-color: #ffffff;
	}
	body {
		background-color: var(--main-color);
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--main-color: #0f0f0f;
	}
	body {
		background-color: var(--main-color);
	}
} */
