.splash-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 70vh;
	background-color: var(--splash-bg);
}
.splash-right {
	width: 50%;
	display: flex;
	flex-direction: column;
	padding: 80px;
}
.splash-left {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 80px;
}
.splash-left > h2 {
	font-weight: normal;
}
.login-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.basebook-wrapper,
.basebook-wrapper > img {
	width: 280px;
}

.login-form-card {
	width: 400px;
	height: 350px;
	background-color: #fff;
	padding: 10px 10px;
	padding-top: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	box-shadow: 0 8px 16px #00000010;
}
.login-form {
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.login-form > .login-btn {
	width: 90%;
	height: 48px;
	padding: 0px 16px;
	font-size: 20px;
	font-weight: 500;
	margin-top: 5px;
}

.blue-btn {
	color: #fff;
	background-color: var(--main-blue);
	border: none;
	border-radius: 6px;
}

.login-bottom-btns {
	display: flex;
	flex-direction: column;
	padding: 20px 50px;
	justify-content: flex-end;
	align-items: center;
	border-top: 1px solid #dadde1;
}
.login-form > .demo-btn {
	border: none;
	background-color: #fff;
	color: var(--main-blue);
	width: fit-content;
	margin: 20px;
	font-size: 15px;
}
.login-form > .demo-btn:hover {
	text-decoration: underline;
	cursor: pointer;
}
.login-form > input {
	background-color: #fff;
	color: var(--main-blue);
	width: 90%;
	height: 52px;
	font-size: 15px;
	border-radius: 6px;
	padding: 14px 16px;
	font-size: 17px;
	margin-bottom: 10px;
	border: none;
	border: 1px solid #dddfe2;
	outline: none;
}
.login-form > input:focus {
	outline: 0.5px solid var(--main-blue);
	box-shadow: 0 0 2px 1px var(--main-blue);
}
/* .login-form > input:required:invalid {
	outline: 1px solid var(--error-red);
} */
.login-bottom-btns > .show-signup-btn {
	width: 200px;
	height: 48px;
	font-size: 18px;
	font-weight: 500;
	background-color: var(--signup-green);
}

.green-btn {
	color: #fff;
	background-color: var(--main-green);
	border: none;
	border-radius: 6px;
}

.signup-form-card {
	/* padding: 10px; */
	width: 435px;
	height: 600px;
	background-color: #fff;
}
.signup-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.signup-form > input {
	width: 90%;
	height: 40px;
	border-radius: 6px;
	border: 1px solid #ccd0d5;
	background-color: #f5f6f7;
	padding: 11px;
	font-size: 15px;
	margin-top: 10px;
	outline: none;
}

.signup-form > .name {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.signup-form > .name > input {
	width: 48%;
	height: 40px;
	border-radius: 6px;
	border: 1px solid #ccd0d5;
	background-color: #f5f6f7;
	padding: 11px;
	font-size: 15px;
	color: #1c1e21;
	outline: none;
}
.signup-form-card > .modal-head {
	width: 100%;
	padding: 15px;
	border-bottom: 1px solid #ccd0d5;
	margin-bottom: 10px;
}
.modal-head > .modal-head--text-wrapper > .modal-head--main {
	font-size: 32px;
	font-weight: bold;
}
.modal-head > .modal-head--text-wrapper > .modal-head--text {
	font-size: 15px;
	color: #606770;
}
.label {
	font-size: 12px;
	margin-bottom: -10px;
	margin-top: 10px;
	width: 90%;
	display: flex;
	justify-content: start;
}
.modal-head {
	display: flex;
	justify-content: space-between;
}
.modal-head > .close-modal > i {
	font-size: 24px;
	color: #616770;
}
.modal-head > .close-modal > i:hover {
	cursor: pointer;
}
.signup-form > .signup-btn {
	height: 36px;
	font-size: 20px;
	font-weight: 500;
	padding: 0 16px;
	width: 40%;
	margin-top: 10px;
}

.signup-form > .fake-terms--text {
	font-size: 12px;
	color: #777777;
	width: 90%;
	margin: 10px 0px;
}

.signup-form > .birthdate-selects {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.signup-form > .birthdate-selects > select {
	width: 31%;
	height: 40px;
	border-radius: 5px;
	padding: 0px 4px;
}
