.splash-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 720px;
	background-color: var(--splash-bg);
	padding-top: 42px;
}
.splash-right {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 120px; */
	/* padding-right: 80px; */
	padding-top: 100px;
}
.splash-left {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 80px;
	padding-top: 160px;
	padding-left: 80px;
	/* margin-right: 120px; */
}
.splash-left > h2 {
	font-weight: normal;
	font-size: 28px;
	width: 420px;
}
.login-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.errors {
	width: 90%;
	font-size: 12px;
	text-align: center;
	color: var(--error-red);
}
.basebook-wrapper,
.basebook-wrapper > img {
	width: 242px;
	margin-bottom: 10px;
}

.login-form-card {
	width: 396px;
	height: fit-content;
	background-color: #fff;
	padding: 14px 14px;
	/* padding-top: 14px; */
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	box-shadow: 0 8px 16px #00000010;
}
.login-form {
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.login-form > .login-btn {
	width: 100%;
	height: 48px;
	padding: 0px 16px;
	font-size: 20px;
	font-weight: 500;
	margin-top: 5px;
}

.blue-btn {
	color: #fff;
	background-color: var(--main-blue);
	border: none;
	border-radius: 6px;
}
.blue-btn:hover {
	cursor: pointer;
	background-color: var(--main-blue-hover);
}

.login-bottom-btns {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px 50px;
	justify-content: flex-end;
	align-items: center;
	border-top: 1px solid #dadde1;
}
.login-form > .demo-btn {
	border: none;
	background-color: #fff;
	color: var(--main-blue);
	width: fit-content;
	margin: 20px;
	font-size: 15px;
}
.login-form > .demo-btn:hover {
	text-decoration: underline;
	cursor: pointer;
}
.login-form > input {
	background-color: #fff;
	color: var(--primary-text);
	width: 100%;
	height: 52px;
	font-size: 15px;
	border-radius: 6px;
	padding: 14px 16px;
	font-size: 17px;
	margin-bottom: 10px;
	border: none;
	border: 1px solid #dddfe2;
	outline: none;
}
.login-form > input:focus {
	outline: 1px solid var(--main-blue);
	box-shadow: 0 0 2px 1px var(--main-blue);
}
/* .login-form > input:required:invalid {
	outline: 1px solid var(--error-red);
} */
.login-bottom-btns > .show-signup-btn {
	width: 200px;
	height: 48px;
	font-size: 18px;
	font-weight: 500;
	background-color: var(--signup-green);
}
.green-btn {
	color: #fff;
	background-color: var(--main-green);
	border: none;
	border-radius: 6px;
}
.green-btn:hover {
	background-color: var(--main-green-hover);
	cursor: pointer;
}
.login-bottom-btns > .show-signup-btn:hover {
	background-color: var(--signup-green-hover);
}
.signup-form-card {
	/* padding: 10px; */
	width: 435px;
	height: fit-content;
	background-color: #fff;
}
.signup-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px;
}
.signup-form > input {
	width: 90%;
	height: 40px;
	border-radius: 6px;
	border: 1px solid #ccd0d5;
	background-color: #f5f6f7;
	padding: 11px;
	font-size: 15px;
	margin-top: 10px;
	outline: none;
}

.signup-form > .name {
	width: 90%;
	display: flex;

	justify-content: space-between;
	align-items: center;
}
.signup-form > .name > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 48%;
}
.signup-form > .name > div > input {
	width: 100%;
	height: 40px;
	border-radius: 6px;
	border: 1px solid #ccd0d5;
	background-color: #f5f6f7;
	padding: 11px;
	font-size: 15px;
	color: #1c1e21;
	outline: none;
}
.signup-form-card > .modal-head {
	width: 100%;
	padding: 15px;
	border-bottom: 1px solid #ccd0d5;
	margin-bottom: 10px;
}
.modal-head > .modal-head--text-wrapper > .modal-head--main {
	font-size: 32px;
	font-weight: bold;
}
.modal-head > .modal-head--text-wrapper > .modal-head--text {
	font-size: 15px;
	color: #606770;
}
.label {
	font-size: 12px;
	margin-bottom: -10px;
	margin-top: 10px;
	width: 90%;
	display: flex;
	justify-content: flex-start;
}
.modal-head {
	display: flex;
	justify-content: space-between;
}
.modal-head > .close-modal > i {
	font-size: 24px;
	color: #616770;
}
.modal-head > .close-modal > i:hover {
	cursor: pointer;
}
.signup-form > .signup-btn {
	height: 36px;
	font-size: 20px;
	font-weight: 500;
	padding: 0 16px;
	width: 40%;
	margin-top: 10px;
}

.signup-form > .fake-terms--text {
	font-size: 12px;
	color: #777777;
	width: 90%;
	margin: 10px 0px;
}

.signup-form > .birthdate-selects {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.signup-form > .birthdate-selects > select {
	width: 31%;
	height: 40px;
	border-radius: 5px;
	padding: 0px 4px;
}

footer {
	background-color: #fff;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	height: 176px;
	min-height: 176px;
	/* padding: 20px; */
}

footer > .footer--container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer > .footer--container > .footer--top-text,
footer > .footer--container > .footer--mid-text,
footer > .footer--container > .footer--bottom-text {
	width: 69%;
	display: flex;
	justify-content: flex-start;
	font-size: 12px;
	color: var(--footer-text);
}
footer > .footer--container > .footer--top-text {
	padding: 25px 0px 14px;
	border-bottom: 1px solid #dddfe2;
}
footer > .footer--container > .footer--top-text > a,
footer > .footer--container > .footer--mid-text > .footer--links > a,
footer > .footer--container > .footer--mid-text > .footer--links > div {
	margin-right: 25px;
	text-decoration: none;
	color: var(--footer-text);
}
footer > .footer--container > .footer--top-text > a:hover,
footer > .footer--container > .footer--mid-text > .footer--links > a:hover {
	text-decoration: underline;
}

footer > .footer--container > .footer--mid-text {
	display: flex;
	padding-top: 10px;
	flex-direction: column;
}
footer > .footer--container > .footer--mid-text > .footer--links {
	display: flex;
}

.footer--container > .footer--mid-text > .techs-used > ul {
	display: flex;
	list-style: none;
	padding-top: 10px;
	margin-left: -40px;
	margin-bottom: 30px;
}
.footer--container > .footer--mid-text > .techs-used > ul > li {
	margin-right: 25px;
}
.footer--container > .footer--bottom-text > i {
	padding: 3px 4px 0px;
	font-size: 10px;
}
