.main-posts-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
}

.single-post-container {
	width: 500px;
	height: fit-content;
	padding: 20px;
	margin: 10px auto;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.single-post-container > a {
	text-decoration: none;
	color: var(--primary-text);
	font-size: 16px;
	font-weight: 300;
}
.single-post-container > .comments-count {
	width: 100%;
	text-align: right;
	font-size: 14px;
	margin-bottom: 10px;
	color: var(--secondary-text);
}
.comments-count:hover {
	cursor: pointer;
}

.create-post--btn {
	border: none;
	font-size: 18px;
	padding: 10px 30px;
	border-radius: 40px;
	width: 420px;
	text-align: left;
	color: #65676b;
	background-color: #f0f2f5;
	font-weight: 350;
}
.create-post--container {
	display: flex;
	justify-content: end;
	width: 500px;
	background-color: #fff;
	padding: 20px 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 8px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.create-post--btn:hover {
	cursor: pointer;
	background-color: #e6e6e6;
}
.image-placeholder {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #000;
	margin-right: 10px;
}
.post-body {
	color: var(--primary-text);
	font-weight: 300;
	font-size: 14px;
	line-height: 1.3333;
	padding: 10px 0px;
}
.user-info--container {
	display: flex;
}
.user-info--container > h4 {
	text-decoration: none;
}
.add-comment--container {
	display: flex;
	width: 100%;
	/* justify-content: space-between; */
}
.add-comment--form {
	display: flex;
	width: 90%;
}

.add-comment--input {
	resize: none;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	border: none;
	background-color: #f0f0f0;
	padding: 8px 16px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.add-comment--btn {
	background-color: #f0f0f0;
	border: none;
	/* border-top-right-radius: 40px;
	border-bottom-right-radius: 40px; */
	padding: 0 14px;
	border-radius: 40px;
	margin-left: -15px;
	color: var(--secondary-text);
}
.add-comment--btn:hover {
	background-color: #d0d0d0;
	cursor: pointer;
}
