.main-posts-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
}

.single-post-container {
	width: 500px;
	height: fit-content;
	padding: 20px;
	margin: 10px auto;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.single-post-container > a {
	text-decoration: none;
	color: var(--primary-text);
	font-size: 16px;
	font-weight: 300;
}
.single-post-container > .comments-count {
	width: 100%;
	text-align: right;
	font-size: 14px;
	margin-bottom: 10px;
	color: var(--secondary-text);
}
.comments-count:hover {
	cursor: pointer;
}

.create-post--btn {
	border: none;
	font-size: 18px;
	padding: 10px 30px;
	border-radius: 40px;
	width: 420px;
	text-align: left;
	color: #65676b;
	background-color: #f0f2f5;
	font-weight: 350;
}
.create-post--container {
	display: flex;
	justify-content: end;
	width: 500px;
	background-color: #fff;
	padding: 20px 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 8px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.create-post--btn:hover {
	cursor: pointer;
	background-color: #e6e6e6;
}
.image-placeholder {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #000;
	margin-right: 10px;
}
.post-body {
	color: var(--primary-text);
	font-weight: 300;
	font-size: 14px;
	line-height: 1.3333;
	padding: 10px 0px;
}
.user-info--container {
	display: flex;
}
.user-info--container > h4 {
	text-decoration: none;
}
.add-comment--container {
	display: flex;
	width: 100%;
	/* justify-content: space-between; */
}
.add-comment--form {
	display: flex;
	width: 90%;
}

.add-comment--input {
	resize: none;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	border: none;
	background-color: #f0f0f0;
	padding: 8px 16px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
}
.add-comment--btn {
	background-color: #f0f0f0;
	border: none;
	/* border-top-right-radius: 40px;
	border-bottom-right-radius: 40px; */
	padding: 0 14px;
	border-radius: 40px;
	margin-left: -15px;
	color: var(--secondary-text);
}
.add-comment--btn:hover {
	background-color: #d0d0d0;
	cursor: pointer;
}
.modal-head {
	width: 100%;
}
.modal-head > .modal-text--container {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid var(--light-grey-btn);
}

.modal-head > .close-create-post {
	width: 36px;
	height: 36px;
	background-color: var(--light-grey-btn);
	border-radius: 50%;
	position: absolute;
	right: 10px;
	top: 12px;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-head > .close-create-post:hover {
	cursor: pointer;
	background-color: var(--light-grey-btn-hover);
}
.create-post--card {
	width: 500px;
	min-height: 450px;
	background-color: #fff;
}

.create-post--card > .user-info {
	display: flex;
	width: 100%;
	padding: 15px;
}
.create-post--card > .create-post--form {
	width: 100%;
	/* height: 300px; */
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.create-post--card > .create-post--form > textarea {
	width: 100%;
	height: 250px;
	border: none;
	color: var(--primary-text);
	font-size: 24px;
	resize: none;
	outline: none;
}
.create-post--card > .create-post--form > button {
	height: 36px;
	border: none;
	border-radius: 8px;
	font-weight: bold;
	font-size: 16px;
	background-color: var(--main-blue);
	color: #fff;
}
.create-post--card > .create-post--form > textarea:focus {
	appearance: none;
}
.like-comment-action--container {
	display: flex;
	width: 100%;
	height: 44px;
	justify-content: space-around;
	padding: 4px 0px;
	border-top: 1px solid var(--light-grey-btn);
	border-bottom: 1px solid var(--light-grey-btn);
	margin: 8px 0px;
	color: var(--secondary-text);
}
.like-comment-action--container > .action {
	width: 50%;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	border-radius: 8px;
}
.like-comment-action--container > .action > i {
	margin-right: 6px;
}
.like-comment-action--container > .action:hover {
	background-color: var(--like-comment-hover);
	cursor: pointer;
}

.single-comment--container {
	max-width: 60%;

	padding: 8px 12px;
	border-radius: 10px;
	background-color: var(--comment-bg);
}
.single-comment--container > a {
	text-decoration: none;
	color: var(--primary-text);
}
.single-comment--container > a:hover {
	text-decoration: underline;
	padding: 8px 12px;
	border-radius: 10px;
}

.user-comment--wrapper {
	display: flex;
	width: 100%;
	align-items: start;
	margin: 15px 0px;
}
.single-comment--body {
	word-break: break-word;
	margin-top: 7px;
	font-weight: 300;
}
.single-comment--name {
	font-weight: 500;
}
