.main-posts-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.single-post-container {
	border: 1px solid black;
	width: 500px;
	height: fit-content;
	padding: 20px;
	margin: 10px auto;
}

.comments-count:hover {
	cursor: pointer;
}
