.main-posts-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--main-page-bg);
	margin-top: 55px;
}

.single-post-container {
	min-width: 570px;
	max-width: 630px;
	width: 90%;
	height: fit-content;
	position: relative;
	padding: 20px;
	margin: 10px 10px;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.single-post-container > a {
	text-decoration: none;
	color: var(--primary-text);
	font-size: 16px;
	font-weight: 300;
}
.single-post-container > .like-comment-count {
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: right;
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 20px;
	color: var(--secondary-text);
}
.main-posts--wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.comments-count:hover {
	cursor: pointer;
	text-decoration: underline;
}

.create-post--btn {
	border: none;
	font-size: 18px;
	padding: 10px 30px;
	border-radius: 40px;
	width: 90%;
	text-align: left;
	color: #65676b;
	background-color: #f0f2f5;
	font-weight: 350;
}
.create-post--container {
	display: flex;
	justify-content: center;
	width: 100%;
}
.create-post--wrapper {
	background-color: #fff;
	padding: 20px 10px;
	margin: 10px 10px 10px;
	/* margin-bottom: 10px; */
	border-radius: 8px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	min-width: 570px;
	max-width: 630px;
	width: 90%;
	display: flex;
	height: fit-content;
}
.create-post--btn:hover {
	cursor: pointer;
	background-color: #e6e6e6;
}
.image-placeholder {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	/* background-color: #000; */
	background-image: url("../../assets/images/default_pfp.png");
	background-position: center;
	background-size: contain;
	margin-right: 10px;
}
.post-body {
	color: var(--primary-text);
	font-weight: 300;
	font-size: 14px;
	line-height: 1.3333;
	padding: 10px 0px;
}
.user-info--container {
	display: flex;
}
.user-info--container > h4 {
	text-decoration: none;
}
.add-comment--container {
	display: flex;
	width: 100%;
	/* justify-content: space-between; */
}
.add-comment--form {
	display: flex;
	width: 90%;
}

.add-comment--input {
	resize: none;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	border: none;
	background-color: var(--comment-bg);
	padding: 8px 16px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
}
.add-comment--btn {
	background-color: var(--comment-bg);
	border: none;
	padding: 0 18px;
	width: 80px;
	border-radius: 40px;
	margin-left: -18px;
	color: var(--secondary-text);
}
.add-comment--btn:hover {
	background-color: var(--secondary-btn-hover);
	cursor: pointer;
}
.modal-head {
	width: 100%;
}
.modal-head > .modal-text--container {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid var(--secondary-btn-bg);
}

.modal-head > .close-create-post,
.modal-head > .close-delete-comment {
	width: 36px;
	height: 36px;
	background-color: var(--secondary-btn-bg);
	border-radius: 50%;
	position: absolute;
	right: 10px;
	top: 12px;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-head > .close-create-post:hover {
	cursor: pointer;
	background-color: var(--secondary-btn-hover);
}
.create-post--card,
.delete-comment--card {
	width: 500px;
	background-color: #fff;
}

.create-post--card > .user-info {
	display: flex;
	width: 100%;
	padding: 15px;
}
.create-post--card > .create-post--form {
	width: 100%;
	/* height: 300px; */
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.create-post--card > .create-post--form > textarea {
	width: 100%;
	height: 250px;
	border: none;
	color: var(--primary-text);
	font-size: 24px;
	resize: none;
	outline: none;
}
.create-post--card > .create-post--form > button {
	height: 36px;
	border: none;
	border-radius: 8px;
	font-weight: bold;
	font-size: 16px;
	background-color: var(--main-blue);
	color: #fff;
}
.create-post--card > .create-post--form > textarea:focus {
	appearance: none;
}
.like-comment-action--container {
	display: flex;
	width: 100%;
	height: 44px;
	justify-content: space-around;
	padding: 4px 0px;
	border-top: 1px solid var(--secondary-btn-bg);
	border-bottom: 1px solid var(--secondary-btn-bg);
	margin: 8px 0px;
	color: var(--secondary-text);
}
.like-comment-action--container > .action {
	width: 50%;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	border-radius: 6px;
}
.like-comment-action--container > .action > i {
	margin-right: 6px;
}
.like-comment-action--container > .action:hover {
	background-color: var(--like-comment-hover);
	cursor: pointer;
}

.single-comment--container {
	max-width: 60%;
	position: relative;
	padding: 10px 14px;
	border-radius: 20px;
	background-color: var(--comment-bg);
}
.single-comment--container > a {
	text-decoration: none;
	color: var(--primary-text);
}
.single-comment--container > a:hover {
	text-decoration: underline;
	padding: 8px 12px;
	/* border-radius: 10px; */
}

.user-comment--wrapper {
	display: flex;
	width: 100%;
	align-items: flex-start;
	margin: 15px 0px;
}
.single-comment--body {
	word-break: break-word;
	margin-top: 7px;
	font-weight: 300;
}
.single-comment--name {
	font-size: 13px;
	font-weight: 500;
	margin-right: 40px;
}
.user-comment--wrapper {
	position: relative;
}
.user-comment--wrapper > i {
	display: flex;
	align-self: center;
	margin-left: 5px;

	padding: 10px;
	border-radius: 50%;
}

.user-comment--wrapper > i:hover {
	background-color: var(--comment-bg);
	cursor: pointer;
}
.edit-comment--esc {
	font-size: 12px;
	margin-left: 50px;
}
.edit-comment--cancel {
	color: var(--main-blue);
}
.edit-comment--cancel:hover {
	cursor: pointer;
	text-decoration: underline;
}
.single-post-container > i {
	position: absolute;
	top: 2px;
	right: 4px;
	padding: 5px;
	border-radius: 50%;
}

.single-post-container > i:hover {
	cursor: pointer;
	background-color: var(--light-grey-btn-hover);
}

.edit-delete-btn--container {
	position: absolute;
	top: 30px;
	right: 0px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	border-radius: 7px;
	min-width: 200px;
	width: fit-content;
	height: fit-content;
	padding: 4px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	z-index: 100;
}
.edit-delete-btn--container > button {
	width: 100%;
	background-color: transparent;
	border: none;
	padding: 10px 20px;
	text-align: left;
	border-radius: 7px;
}
.edit-delete-btn--container > button:hover {
	cursor: pointer;
	background-color: #0000001a;
	/* background-color: var(--light-grey-btn-hover); */
}

button#create-edit-post:disabled {
	background-color: var(--light-grey-btn);
	color: var(--light-border);
}
.delete-comment--form > .delete-comment--btns {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 0 10px 16px;
}

.delete-comment--form > .delete-comment--text {
	padding: 10px 20px 40px;
	font-weight: 300;
	color: var(--primary-text);
}
.delete-comment--form > .delete-comment--btns > button {
	width: 70px;
	height: 36px;
	margin: 0 3px;
	padding: 4px;
	border: none;
	border-radius: 7px;
	font-size: 15px;
	font-weight: 500;
}
.delete-comment--form > .delete-comment--btns > button.delete-comment--delete {
	background-color: var(--main-blue);
	color: var(--main-white);
}
.delete-comment--form > .delete-comment--btns > button.delete-comment--cancel {
	background-color: #fff;
	color: var(--main-blue);
	font-weight: 500;
}
.delete-comment--form
	> .delete-comment--btns
	> button.delete-comment--cancel:hover {
	background-color: var(--comment-bg);
	cursor: pointer;
}
.delete-comment--form
	> .delete-comment--btns
	> button.delete-comment--delete:hover {
	background-color: var(--main-blue-hover);
	cursor: pointer;
}
#delete-modal--head > .modal-text--container {
	display: flex;
	justify-content: flex-start;
	margin-left: 20px;
}
