.user-header--container {
	position: relative;
	margin-top: 45px;
	/* margin-bottom: 15px; */
	width: 100%;
	height: 625px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-image: linear-gradient(
		to top,
		var(--main-white),
		var(--main-white),
		var(--main-white),
		rgba(0, 0, 0, 0.01),
		rgba(0, 0, 0, 0.02),
		rgba(0, 0, 0, 0.13),
		rgba(0, 0, 0, 0.24),
		rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0.36),
		rgba(0, 0, 0, 0.57),
		rgba(0, 0, 0, 0.8)
	);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.user-header--wrapper {
	max-width: 1250px;
	min-width: 800px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.user-header--cover-img {
	width: 90%;
	min-width: 800px;
	max-width: 1250px;
	background-image: url("../../../assets/images/default-cover.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	height: 405px;
	/* background-color: #000; */
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.user-img-name--container {
	width: 90%;
	display: flex;
	align-items: center;
	float: left;
	margin-top: -30px;
	margin-left: 60px;
}
.user-header--profile-img {
	position: relative;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	/* background-color: var(--main-blue); */
	background-image: url("../../../assets/images/default_pfp.png");
	background-position: center;
	background-size: contain;
	border: 4px solid var(--main-white);
	margin-right: 20px;
}
.user-header--profile-img > i {
	position: absolute;
	display: none;
	bottom: 7px;
	right: 7px;
	font-size: 22px;
	padding: 8px;
	background-color: var(--comment-bg);
	border-radius: 50%;
}
.user-header--profile-img > i:hover {
	background-color: var(--secondary-btn-hover);
	cursor: pointer;
}
.user-header--user-name {
	width: max-content;
	font-size: 32px;
	right: 20px;
	top: 30px;
	color: var(--primary-text);
}

.user-header--nav {
	display: flex;
	justify-content: flex-start;
	/* position: sticky;
	top: 0; */
	width: 75%;
	max-width: 1150px;
	height: fit-content;
	border-top: 3px solid var(--comment-bg);
	/* border-bottom: 3px solid var(--comment-bg); */
}
.user-header--nav > a {
	padding: 22px;
	width: 120px;
	text-align: center;
	text-decoration: none;
	color: var(--secondary-text);
	border-radius: 8px;
	margin: 4px;
}
.user-header--nav > a:hover {
	text-decoration: underline;
	background-color: var(--comment-bg);
	color: var(--secondary-text);
}
.user-profile--container {
	width: 100%;
	/* max-width: 1300px; */
	padding-top: 10px;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	gap: 10px;
	background-color: var(--splash-bg);
}
.user-profile--wrapper {
	max-width: 1800px;
	width: 80%;
	display: flex;
	align-items: start;
}
.profile-posts--container {
	display: flex;
	flex-basis: 1000px;
	flex-grow: 3;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 50%;
}
.profile-posts--container > .create-post--container {
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: flex-start;
}
.profile-details--container {
	width: 50%;
	display: flex;
	/* flex-grow: 1; */

	flex-direction: column;
	align-items: flex-end;
}
.profile-details--wrapper {
	width: 75%;
	max-width: 600px;
	height: fit-content;
	min-height: 170px;
	height: fit-content;
	background-color: var(--main-white);
	color: var(--primary-text);
	margin-top: 10px;
	justify-self: flex-start;
	position: -webkit-sticky;
	position: sticky;
	top: 400px;
	/* height: 170px; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	margin-bottom: 10px;
	border-radius: 8px;
	padding: 25px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.profile-details--wrapper > .edit-btn--container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 10px 0px;
}
.profile-details--wrapper > .edit-btn--container > button:hover {
	background-color: var(--secondary-btn-hover);
	cursor: pointer;
}
.profile-details--wrapper > div {
	margin: 10px 0px;
}
.profile-details--wrapper > .bio-container {
	width: 100%;
	margin: 24px 0px;
	padding-bottom: 24px;
	border-bottom: 2px solid var(--comment-bg);
}
.profile-details--wrapper > .edit-btn--container > button {
	border: none;
	background-color: var(--secondary-btn-bg);
	height: 36px;
	width: 60%;
	align-self: center;
	border-radius: 7px;
	color: var(--primary-text);
	font-weight: 600;
	font-size: 15px;
}
.friends-container--profile {
	background-color: var(--splash-bg);
	padding: 40px;
	margin-top: 0px !important;
}
.friend-status--btn {
	width: fit-content;
	height: fit-content;
	position: absolute;
	right: 15%;
}
.friend-status--btn > button {
	width: fit-content;
	padding: 3px 12px;
	height: 40px;
	border: none;
	font-size: 16px;
	font-weight: 500;
	background-color: var(--secondary-btn-bg);
	border-radius: 7px;
	color: var(--primary-text);
}
.friend-status--btn > button:hover {
	background-color: var(--secondary-btn-hover);
	cursor: pointer;
}
.friend-status--btn > button.pending-btn:hover {
	cursor: auto;
	background-color: var(--secondary-btn-bg);
}
.details--form {
	width: 500px;
	height: fit-content;
	padding: 20px;
	background-color: var(--main-white);
}
.details--form > form {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: space-evenly;
}
.details--form > form > input {
	height: 40px;
	border-radius: 6px;
	border: 1px solid var(--light-border);
	background-color: var(--input-grey);
	padding: 11px;
	font-size: 15px;
	color: var(--secondary-text);
	outline: none;
	margin: 5px 0px;
}
.details-form--head > div.close-modal > i {
	width: 36px;
	height: 36px;
	background-color: var(--secondary-btn-bg);
	border-radius: 50%;
	position: absolute;
	right: 10px;
	top: 12px;
	z-index: 10;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary-text);
}
.details-form--head > div > i:hover {
	cursor: pointer;
	background-color: var(--secondary-btn-hover);
}
.details-form--head {
	display: flex;
	text-align: center;
	width: 110%;
	border-bottom: 1px solid var(--footer-text);
	padding: 8px 0px 26px;
	margin-bottom: 15px;
}
.modal-head.details-form--head > .modal-head--text-wrapper > .modal-head--main {
	font-size: 24px !important;
}
.details--form > form > textarea {
	height: 80px;
	resize: none;
	border-radius: 6px;
	border: 1px solid var(--light-border);
	background-color: var(--input-grey);
	padding: 11px;
	font-size: 15px;
	color: var(--secondary-text);
	outline: none;
	margin: 5px 0px;
}
.details--form > form > button {
	padding: 4px 60px;
	margin-top: 15px;
	align-self: center;
	height: 36px;
	border: none;
	font-size: 16px;
	color: var(--main-white-text);
	background-color: var(--main-blue);
	border-radius: 7px;
}
.details--form > form > div {
	color: var(--secondary-text);
	font-size: 12px;
	padding-left: 5px;
	padding-top: 14px;
}
